.btn-block{

 

    width: 70%;

    border-radius: 5px;
   box-shadow: 0 2px 16px -6px rgb(80, 75, 75);
    
 

}


.btn-danger {
  color: white;
  background-color: #E95524;
  border-color: #E95524;
  height: auto;
  padding-top: 3px;
}

  .btn-danger:hover {
    color: white;
    background-color: #D61A69;
    border-color: #D61A69;
  }

li {

    border-bottom: 1;

}



.btn-default {
  margin: 0 auto;
  height: 12vh;
  background-color: #808080;
  color: white
  

}

.btn-default:hover {
    color: white;
    background-color: #E95524;
    
    border-color: #E95524;
    
  }

  .btn-default.active,
  .btn.btn-default:active {
    color: white;
    background-color: #E95524;
    
    border-color: #E95524;
    
  }

  .btn-default.focus,
  .btn.btn-default:focus {
    color: white;
    background: #808080;
    border-color: #E95524;
  }

.list-group-item {
  background-color: #4D4D4D;
  border: solid 1px rgb(105, 105, 105);
  border-left: 20;
  border-radius: 7px;
  box-shadow: 15px 15px 15px grey;
}

 

h3{

 

    color :rgb(97, 96, 96)

}

 

li.list-group-item{

 

    color:grey

}



.card {

    margin: 0 auto; /* Added */

    float: none; /* Added */

    margin-bottom: 10px; /* Added */

}

.form-control{

color: #E95524;



}

button.form-control{
  padding-top: 15px;
  border: 2px solid white;
  padding-bottom: 10px;
  
  padding: 5px;
  background-color: white;
  
  
  border-style: inset;
  display:inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;

  

}

select.form-control {
    -moz-appearance: none;
     -webkit-appearance: none;
     appearance: none;
  }

  .card{

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif, bold;
  }

  .text-center{

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif, bold;
}

.dropdown-menu{

    background-color: #D1D1D1;
    box-shadow: 7px 7px 7px grey;
}
