<!DOCTYPE html>

<html lang="en">

<head>


  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>


  <button class="btn btn-default btn-md btn-block" (click)="getProjectDetails2($event.target.value, service.completedProjectsAddTeams[index]?._id)"
    type="button" data-toggle="collapse" [attr.data-target]=idFromIndex() aria-expanded="false" aria-controls="footwear"
    style="color: rgb(255, 255, 255); font-size: 20pt;">

    {{service.completedProjectsAddTeams[index]?.project_Title}} <p style="font-size: 12pt"> Last updated:
      {{service.completedProjectsAddTeams[index]?.last_Updated}}</p>


  </button>

  <br>

  <div class="collapse" id="{{index}}">

    <div class="card" style="width: 60vw; color: grey">

      <ul class="list-group list-group-flush">

        <div class="col text-left">

          <div class="list-group-item" style="color: rgb(117, 115, 115)">

            <div>

              <div class="release-name">Release Name: <br><span style="color: #D61A69">{{service.completedProjectsAddTeams[index]?.project_Title}}</span>
              </div>

              <div class="project-start-date" *ngIf="service.completedProjectsAddTeams[index]?.project_Start_Date">Release
                Start Date: <br><span style="color: #D61A69">{{service.completedProjectsAddTeams[index]?.project_Start_Date}}</span></div>

              <div class="project-start-date" *ngIf="!service.completedProjectsAddTeams[index]?.project_Start_Date">Release
                Start Date: <br><span style="color: #D61A69">TBD</span></div>

              <div class="go-live-date" *ngIf="service.completedProjectsAddTeams[index]?.go_live_date">Go Live Date:
                <br><span style="color: #D61A69">{{service.completedProjectsAddTeams[index]?.go_live_date}}</span></div>

              <div class="go-live-date" *ngIf="!service.completedProjectsAddTeams[index]?.go_live_date">Go Live Date:
                <br><span style="color: #D61A69">TBD</span></div>

              <div class="project-manager">Project Manager: <br><span style="color: #D61A69">{{service.completedProjectsAddTeams[index]?.project_Manager}}</span></div>

              <div class="project-status">Project Status: <br><span style="color: #D61A69">{{service.completedProjectsAddTeams[index]?.project_Status}}</span></div>


              <div class="ryg-status" *ngIf="service.completedProjectsAddTeams[index]?.groject_RYG_Color == 'Green'">RYG
                Status:

                <div class="foo green"></div>
              </div>
              <div class="ryg-status" *ngIf="service.completedProjectsAddTeams[index]?.groject_RYG_Color == 'Yellow'">RYG
                Status:

                <div class="foo orange"></div>
              </div>
              <div class="ryg-status" *ngIf="service.completedProjectsAddTeams[index]?.groject_RYG_Color == 'Red'">RYG
                Status:

                <div class="foo red"></div>
              </div>


              <br>
              <br>


              <!---   <button class = "btn btn-primary btn-lg"  (click) = "showTeam()"> View Team</button>-->





              <p style="text-decoration: underline; color: #D61A69">PROJECT TEAM</p>

              {{exampleproject_id}}
              <br>
              Project Manager: {{exampleinput}}
              <br>
              Product Owner: {{exampleinput2}}
              <br>
              Business Analyst: {{exampleinput3}}
              <br>
              QA: {{exampleinput4}}
              <br>
              Test Environment: {{exampleinput5}}

            </div>


          </div>
        </div>

        <div>

          <form>
            <br>


            <div>




              <app-projectteam [members]=members></app-projectteam>



            </div>