<!DOCTYPE html>

<html lang="en">



<head>


  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>


  <button class="btn btn-default btn-md btn-block" type="button" data-toggle="collapse" [attr.data-target]=idFromIndex()
          aria-expanded="false" aria-controls="footwear" style="color: rgb(255, 255, 255); font-size: 20pt;">

    {{service.active_projects[index].project_Title}} <p style="font-size: 12pt">
      Last updated:
      {{service.active_projects[index].last_Updated}}
    </p>

  </button>

  <br>

  <div class="collapse" id="{{index}}">

    <div class="card" style="width: 60vw; color: grey">

      <ul class="list-group list-group-flush">

        <div class="col text-left">

          <div class="list-group-item" style="color: rgb(117, 115, 115)">

            <div class="row">
              <div class="column">
                <div class="info" style="text-decoration: underline; color: #808080">Release Info</div>
                <div class="release-name">
                  Release Name: <br><span style="color: #D61A69">{{service.active_projects[index].project_Title}}</span>
                </div>

                <div class="project-start-date" *ngIf="service.active_projects[index].project_Start_Date">
                  Release Start
                  Date: <br><span style="color: #D61A69">{{service.active_projects[index].project_Start_Date}}</span>
                </div>

                <div class="project-start-date" *ngIf="!service.active_projects[index].project_Start_Date">
                  Release Start
                  Date: <br><span style="color: #D61A69">TBD</span>
                </div>

                <div class="go-live-date" *ngIf="service.active_projects[index].go_Live_Date">
                  Go Live Date: <br><span style="color: #D61A69">{{service.active_projects[index].go_Live_Date}}</span>
                </div>

                <div class="go-live-date" *ngIf="!service.active_projects[index].project.go_Live_Date">
                  Go Live Date: <br><span style="color: #D61A69">TBD</span>
                </div>

                <div class="project-status">Project Status: <br><span style="color: #D61A69">{{service.active_projects[index].project_Status}}</span></div>


                <div class="ryg-status" *ngIf="service.active_projects[index].groject_RYG_Color == 'Green'">
                  RYG Status:
                  <br>
                  <div class="foo green"></div>
                </div>
                <div class="ryg-status" *ngIf="service.active_projects[index].groject_RYG_Color == 'Yellow'">
                  RYG Status:
                  <br>
                  <div class="foo orange"></div>
                </div>
                <div class="ryg-status" *ngIf="service.active_projects[index].groject_RYG_Color == 'Red'">
                  RYG Status:
                  <br>
                  <div class="foo red"></div>
                </div>
              </div>



              <!---   <button class = "btn btn-primary btn-lg"  (click) = "showTeam()"> View Team</button>-->




              <div class="column">
                <p class="project-team" style="text-decoration: underline; color: #808080">Project Team</p>

                {{exampleproject_id}}

                <div class="project-manager">Project Manager: <br><span style="color: #D61A69">{{service.active_projects[index].project_Manager}}</span></div>

                <div class="product-owner">Product Owner:  <br><span style="color: #D61A69">{{exampleinput2}}</span></div>

                <div class="ba">Business Analyst:  <br><span style="color: #D61A69">{{exampleinput3}}</span></div>

                <div class="qa">QA:  <br><span style="color: #D61A69">{{exampleinput4}}</span></div>

                <div class="test-env">Test Environment:  <br><span style="color: #D61A69">{{exampleinput5}}</span></div>

              </div>
            </div>


          </div>
        </div>

        <div>

          <form>
            <br>

            <div>

              <app-projectteam [members]=members></app-projectteam>



            </div>

