<!DOCTYPE html>

<html lang="en">



<head>

  <title>Bootstrap Example</title>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>


  <div class="col text-center">
    <div *ngIf="this.show_expiration_flag">
      <br>
      <h3 class="text-center" style="color: red">Your session has expired. Log back in to continue...</h3>
    </div>
    <br>
    <br>
    <h1>Release Management Application</h1>
    <h3>Your Projects</h3>
    <div *ngIf="!this.show_expiration_flag">

      <br>

      <br>

      <div *ngFor="let team of service.teamlist; let i = index">
        <app-project [index]="i" [teamlist]="team"></app-project>
      </div>

      <li *ngFor="let t of display_data">
        {{t}}
      </li>

      <!--
          <button type="button" class="btn btn-link"  data-toggle="modal" data-target="#addProject"></button>
      -->
      <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#addProject">
        Add new
        project
      </button>
      <br>
      <br>


      <!-- Modal -->
      <div id="addProject" class="modal fade" role="dialog">
        <div class="modal-dialog">



          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h1 class="modal-title" style="color: rgb(218, 89, 3); font-size: 18pt">Team Builder</h1>
              <br>
              <button type="submit" (click)="addMember()" class="btn btn-primary btn-lg">Add team member</button>

              <app-projectteam [members]=members></app-projectteam>
            </div>
            <div class="modal-body">
              <br>

              <div class="second">
                <div class="col-md-12 text-center">
                  <form>
                  </form>
                </div>
              </div>
            </div>


          </div>

        </div>
      </div>



    </div>

  </div>

  <div class="col text-center">


    <div *ngIf="service.show_spinner == true">

      <button class="btn btn-lg btn-warning">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        <br>
        <span>Creating project...</span>

      </button>
    </div>

    <div *ngFor="let project of service.array_of_projects">
      <br>

      <app-project> </app-project>


    </div>

  </div>

  <div class="footer">
    <p>Gas South © 2019</p>
  </div>

</body>




</html>