html {
  height: 101%;
}

.btn-block{

 

    width: 70%;

    border-radius: 18px;


}


.modal-title{

    background-image: linear-gradient(white, rgb(233, 230, 230));

}

 

li {

    border-bottom: 1;

}

 

.btn-default {

 

    margin:0 auto;

    height: 12vh;
    

}


.list-group-item{

 

    background-color: rgb(224, 223, 223);

    border: solid 1px rgb(105, 105, 105);

    border-left: 20;

 

}

 

.btn-default {

 

    background-color: rgb(202, 200, 200);

    color: white

 

}

 

h3{

 

    color :rgb(97, 96, 96)

}

 

li.list-group-item{

 

    color:grey
    

}

 

.card {

    margin: 0 auto; /* Added */

    float: none; /* Added */

    margin-bottom: 10px; /* Added */

}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 0s linear infinite;
    z-index: -1;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  .glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
      
.glyphicon {
    font-size: 50px;
}

.text-center{

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif, bold;
}

.footer {
    position: sticky;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin-top: 100px;
    background: linear-gradient(to right, #FDB713 0%, #E95524 50%, #D61A69 100%);
    color: white;
    text-align: center;
  }

  h1 {
    font-weight: bold;
    margin-top: 0;
    font-size: 25pt;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
    background: linear-gradient(to right, #FDB713 0%, #E95524 50%, #D61A69 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
  }

