<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>


  <h1>Release Management Application</h1>
    <div class="col text-center">
        <div *ngIf="this.show_expiration_flag">
            <br>
            <h3 class="text-center" style="color: red">Your session has expired. Log back in to continue...</h3>
        </div>
        
        
        <h3>Edit User Profile</h3>
        <br>
        <div *ngIf="!this.show_expiration_flag">

            <div class="container">

                <div class="col-md-8 col-md-offset-2">

                    <button type="submit" class="btn btn-warning" (click)="backToManageUsersPage()">Go Back
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    </button>
                    <br>
                    <br>

                    <div class="jumbotron text-center ">

                        <form #heroForm="ngForm">
                          <div class="form-group">

                            <p style="font-weight: bold; color: white">First Name</p><input placeholder="First Name" style="text-align:center;" type="text"
                                                    class="form-control" [(ngModel)]="user._firstName" name="firstName" required>
                            <br>
                            <p style="font-weight: bold; color: white">Last Name</p><input placeholder="Last Name" style="text-align:center;" type="text"
                                                   class="form-control" [(ngModel)]="user._lastName" name="lastName" required>
                            <br>
                            <p style="font-weight: bold; color: white">Email Address</p><input placeholder="Email" style="text-align:center;" type="text"
                                                       class="form-control" [(ngModel)]="user._email" name="email" required>
                            <br>
                            <p style="font-weight: bold; color: white">User ID</p><input placeholder="Innotas ID" style="text-align:center;" type="text" class="form-control" [(ngModel)]="user._innotas_id" name="innotas_id" required>
                            <br>
                            <p style="font-weight: bold; color: white">Current Account Type</p>
                            <select placeholder="Role" class="form-control" [(ngModel)]="user._role" name="role"
                                    required>
                              <option style="text-align:center;" *ngFor="let role of roles" value="{{role}}">{{role}}</option>
                            </select>

                            <br>
                            <button type="submit" class="btn btn-md" 
                                    (click)="openPasswordChange()">
                              Change Password
                            </button>
                            <br>

                            <br>

                            <div style="border: solid rgb(146, 145, 145) ; " *ngIf="confirm_password == true">
                              <br>



                              <br>
                              <br>


                              <div *ngIf="this.no_match == true">
                                <p style="color: red"> Passwords do not match!</p>
                              </div>
                              {{passwordMatch()}}
                              <p style="font-weight: bold; color: white">Enter New Password</p><input placeholder=" New Password" style="text-align:center;"
                                                              type="password" class="form-control" [(ngModel)]="user._password" name="password"
                                                              required>

                              <br>
                              <p style="font-weight: bold; color: white">Re-enter New Password</p><input placeholder="Re-enter New Password" style="text-align:center;"
                                                                 type="password" class="form-control" [(ngModel)]="retype_password" name="password"
                                                                 required>
                              <br>


                            </div>


                          </div>
                            <div>
                                <div class="center">
                                    
                                    <div *ngIf = " !this.display_password_fields  ">

                                
                                   
                                    <div *ngIf = "!this.no_match">
                                            <button type="submit" class="btn btn-success" (click)="saveNewUserProfile()"
                                            data-toggle="modal" data-target="#myModal1" [disabled]="!heroForm.form.valid">Save</button>
    
                                    </div>

                                </div>
                                </div>
                                <button type="submit" class="btn btn-danger pull-right" data-toggle="modal" data-target="#myModal2">Delete
                                    User Account</button>
                                <option value={{this.user_id_edit}}> </option>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="myModal1" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-md-12 text-center">
                        <button type="button" class="close" data-dismiss="modal1">&times;</button>
                        <h4 class="modal-title" style="color: #FDB713; font-size: 18pt">User profile has been
                            updated!</h4>
                    </div>
                    <div class="modal-body">
                        <br>
                        <br>
                        <br>
                        <div class="second">
                            <div class="col-md-12 text-center">
                                <form>
                                    <button class="btn btn-success btn-lg" data-dismiss="modal" type="submit">Close
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>



    <div id="myModal2" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="col text-center">

                        <h4 class="modal-title" style="color: rgb(247, 3, 3); font-size: 18pt"> WARNING!</h4>
                    </div>

                </div>
                <div class="modal-body">
                    <div class="col-md-12 text-center">
                        <h2 class="modal-title" style="color: rgb(0, 0, 0); font-size: 18pt">Are you sure you want to
                            delete user {{this.service.edit_manage_firstName}} {{this.service.edit_manage_lastName}}?</h2>
                        <h4 style="color: rgb(238, 4, 4)">This action cannot be undone!</h4>
                    </div>
                </div>
                <br>
                <div class="modal-footer">

                    <button type="submit" class="btn btn-danger pull-left" (click)="deleteUserAccount($event.target.value, member)"
                        data-dismiss="modal" data-toggle="modal" data-target="#myModal3">Yes</button>

                    <option value={{this.user_id_edit}}> </option>
                    <button class="btn btn-success btn-lg" data-dismiss="modal" type="submit">Close </button>

                </div>
            </div>

        </div>
    </div>




    <div id="myModal3" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button></button>
                    <div class="col text-center">

                        <h4 class="modal-title" style="color: rgb(0, 0, 0); font-size: 18pt"> Confirmation!</h4>
                    </div>

                </div> 
                <div class="modal-body">
                    <div class="col-md-12 text-center">
                        <h2 class="modal-title" style="color: rgb(0, 0, 0); font-size: 18pt">Account Deleted!</h2>
                    </div>
                </div>
                <br>
                <div class="modal-footer">


                    <button class="btn btn-success btn-lg" data-dismiss="modal" type="submit" (click)="backToManageUsersPage()">Close
                    </button>

                </div>
            </div>

        </div>
    </div>





</body>

</html>
