.btn-block{

 

    width: 70%;

    border-radius: 18px;

 

}

  h1 {
    font-weight: bold;
    margin-top: 0;
    font-size: 25pt;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 10px;
    background: linear-gradient(to right, #FDB713 35%, #E95524 49%, #D61A69 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
  }

.btn-success {
  color: #fff;
  background-color: #E95524;
  border-color: #E95524;
}

.btn-success:hover {
  color: white;
  background-color: #D61A69;
  border-color: #D61A69;
}

.btn-success.active,
.btn.btn-success:active {
  color: white;
  background-color: #D61A69;
  border-color: #D61A69;
}

.btn-success.focus,
.btn.btn-success:focus {
  color: white;
  background-color: #E95524;
  border-color: #E95524;
}

.btn-md {
  color: #fff;
  background-color: #FDB713;
  border-color: #FDB713;
}

  .btn-md:hover {
    color: white;
    background-color: #D61A69;
    border-color: #D61A69;
  }

  .btn-md.active,
  .btn.btn-md:active {
    color: white;
    background-color: #D61A69;
    border-color: #D61A69;
  }

  .btn-md.focus,
  .btn.btn-md:focus {
    color: white;
    background-color: #FDB713;
    border-color: #FDB713;
  }
 

li {

    border-bottom: 1;

}

 

.btn-default {

 

    margin:0 auto;

    height: 12vh;

}

.list-group-item{

 

    background-color: rgb(224, 223, 223);

    border: solid 1px rgb(105, 105, 105);

    border-left: 20;
    border-radius: 7px;

 

}

.btn-default {

 

    background-color: rgb(202, 200, 200);

    color: white

 

}

 

h3{

 

    color :rgb(97, 96, 96)

}

 

li.list-group-item{

 

    color:grey

}

 

.card {

    margin: 0 auto; /* Added */

    float: none; /* Added */

    margin-bottom: 10px; /* Added */

}

.text-center{

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif, bold;
    
}

.footer {
  position: relative;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  margin-top: 100px;
  background: linear-gradient(to right, #FDB713 0%, #E95524 50%, #D61A69 100%);
  color: white;
  text-align: center;
}

.jumbotron{

    box-shadow: 0 8px 16px -6px black;
}
