<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>


    <h3 class="text-center" style="color: rgb(73, 73, 73)">Login</h3>

    <br>
    <div class="col text-center">

        <form>
            <div class="form-group">

                <div class="col-md-4 col-md-offset-4">
                    <input type="text" placeholder="username" class="form-control">
                    <br>
                    <input type="password" placeholder="password" class="form-control">

                </div>

            </div>

        </form>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <button type="button" class="btn btn-default btn-md btn-block grey-background" style="color: white;">Login</button>
        <br>
        <button type="button" class="btn btn-link">Forgot password</button>

    </div>


</body>

</html>