
  .jumbrotron{

    min-height: 10px;

  }


  button {
    margin:0 auto;
    display:block;
    border: 5px;
    height: 8vh;
}

.btn-block{

    width: 20%;
    height: 20%;
    border: 2px;
    background-color: #E95524;
    border-color: #E95524;
}

.btn-block:hover {
  color: white;
  background-color: #D61A69;
  border-color: #D61A69;
}

.btn-block.active,
.btn.btn-block:active {
  color: white;
  background-color: #D61A69;
  border-color: #D61A69;
}

.btn-block.focus,
.btn.btn-block:focus {
  color: white;
  background-color: #E95524;
  border-color: #E95524;
}

.grey-background {background-color:rgb(8, 157, 226)}
.white {color:#ffffff;}


::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }

 .text-center{

   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
   Helvetica, Arial, "Lucida Grande", sans-serif, bold;
}


.footer {
   position: fixed;
   bottom: 0;
   padding-top: 10px;
   padding-bottom: 10px;
   width: 100%;
   background: linear-gradient(to right, #FDB713 0%, #E95524 50%, #D61A69 100%);
   color: white;
   text-align: center;
 }


  h1 {
    font-weight: bold;
    margin-top: 0;
    font-size: 25pt;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
    background: linear-gradient(to right, #FDB713 0%, #E95524 50%, #D61A69 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    margin-left: auto;
    margin-right: 17px;
    
  }

  
