.jumbrotron{

    padding-bottom: 0;

}
.navbar{

    color: white
}

.nav-rectangle{

border: solid, white
}

.page-header{

    left: 1px;
    top: 1px;
    
}

.container{

    width : 95vw;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }



.gas_south_img{

    max-width:180px;
    max-height:90px;
    width: auto;
    height: auto;

}
.navbar-default{
    background-color: white;
}

.welcome{


    display: flex;
    align-items: center;
}

li:hover {
    
   background-color: rgb(218, 89, 3);
   
  }

.container{

   background-color: white;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
   Helvetica, Arial, "Lucida Grande", sans-serif;

}

.jumbotron{

    background-image: linear-gradient(white, rgb(233, 230, 230));
}


.btn-link{

    font-size: 13pt;
    
}

.btn-link:hover {

     /* removes underline in boostraps btn-link buttn */

     background-color: rgb(218, 89, 3);
     text-decoration: none;

    }


    .modal-title{

        text-align: center;
        font-size: 20px;
    
      }

      button { 
          
        margin: 7px 7px 7px 7px;
       
    
    } 



      .modal-dialog {
        width: 50vw;
        margin: 50px auto;
        height : 70vh;
      }
      .modal-dialog,
      .modal-content {
          /* 60% of window height */
          height: 70%;
      }

      .modal-body {
          /* 100% = dialog height, 120px = header + footer */
             /*   
          max-height: calc(100% - 120px);
          overflow-y: scroll;
          */
      }
