<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

  <div *ngIf="service.userRole != 'user'">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <ul class="nav navbar-nav navbar-right">

          <li><button class="btn btn-link" (click)="masterCalendarPage()">Master Calendar</button></li>
          <li><button class="btn btn-link" (click)="activeProjectsPage()">Active Projects</button> </li>
          <li><button class="btn btn-link" (click)="completedProjectsPage()">Completed Projects</button></li>
          <li>
            <div *ngIf="service.flag ">
          <li style="float : right"> <button class="btn btn-link" (click)="logout()">Logout</button></li>
          <li style="float : right"><button class="btn btn-link" (click)="yourProjectPage()">Your Projects</button></li>
          <li style="float : right"><button class="btn btn-link" (click)="createUserPage()">Create User</button></li>

      </div>
      <div *ngIf="!service.flag">
        <button class="btn btn-link" (click)="loginPage()">Login</button>
      </div>
      </li>

      </ul>

      <ul class="nav navbar-nav navbar-left">
        <img src="assets/logo-gas-south.png" class="gas_south_img">Home

      </ul>
  </div>
  </nav>

  <div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-12">
          <br>
          <h3 class="text-center" style="color: rgb(122, 122, 122)">Welcome Back</h3>
        </div>
      </div>
    </div>

  </div>
  </div>


  <div *ngIf="service.userRole == 'user'">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <ul class="nav navbar-nav navbar-right">

          <li><button class="btn btn-link" (click)="masterCalendarPage()">Master Calendar</button></li>
          <li><button class="btn btn-link" (click)="activeProjectsPage()">Active Projects</button> </li>
          <li><button class="btn btn-link" (click)="completedProjectsPage()">Completed Projects</button></li>
          <li>
            <div *ngIf="service.flag ">
          <li style="float : right"> <button class="btn btn-link" (click)="logout()">Logout</button></li>

      </div>
      <div *ngIf="!service.flag">
        <button class="btn btn-link" (click)="loginPage()">Login</button>
      </div>
      </li>

      </ul>

      <ul class="nav navbar-nav navbar-left">
        <img src="assets/logo-gas-south.png" class="gas_south_img">Home

      </ul>
  </div>
  </nav>

  <div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-12">
          <br>
          <h3 class="text-center" style="color: rgb(122, 122, 122)">Welcome Back</h3>
        </div>
      </div>
    </div>

  </div>
  </div>


  <router-outlet></router-outlet>