<!DOCTYPE html>
<html lang="en">

<head>

    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

  <div *ngIf="service.userRole != 'User'">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <ul class="nav navbar-nav navbar-right">

          <li style=""><button class="btn btn-link" (click)="masterCalendarPage()"><font color="white">Master Calendar</font></button></li>
          <li><button class="btn btn-link" (click)="activeProjectsPage()"><font color="white">Active Projects</font></button> </li>
          <li><button class="btn btn-link" (click)="completedProjectsPage()"><font color="white">Completed Projects</font></button></li>
          <div style="float: right">
            <div *ngIf="service.flag ">
              <li style="float: right" ><button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal"><font color="white">Logout</font></button></li>

              <li style="float : right"><button class="btn btn-link" (click)="profilePage()"><font color="white">Profile</font></button></li>
              <li style="float : right"><button class="btn btn-link" (click)="yourProjectPage()"><font color="white">Your Projects</font></button></li>
              <li style="float : right"><button class="btn btn-link" (click)="createUserPage()"><font color="white">Create User</font></button></li>
              <li style="float : right"><button class="btn btn-link" (click)="manageUsersPage()"><font color="white">Manage Users</font></button></li>


            </div>
          </div>
          <div style="float: right">
            <div *ngIf="!service.flag">
              <li><button class="btn btn-link" (click)="loginPage()"><font color="white">Login</font></button></li>
            </div>

          </div>

        </ul>

        <ul class="nav navbar-nav navbar-left">
          <img src="assets/gas_south_white_logo_vector.png" class="gas_south_img" (click)="masterCalendarPage()">

        </ul>
      </div>
    </nav>

  </div>


  <div *ngIf="service.userRole == 'User'">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <ul class="nav navbar-nav navbar-right">

          <li><button class="btn btn-link" (click)="masterCalendarPage()"><font color="white">Master Calendar</font></button></li>
          <li><button class="btn btn-link" (click)="activeProjectsPage()"><font color="white">Active Projects</font></button> </li>
          <li><button class="btn btn-link" (click)="completedProjectsPage()"><font color="white">Completed Projects</font></button></li>
          <li><button class="btn btn-link" (click)="yourProjectPage()"><font color="white">Your Projects</font></button></li>
          <li><button class="btn btn-link" (click)="profilePage()"><font color="white">Profile</font></button></li>

          <li>
            <div *ngIf="service.flag ">
          <li><button type="button" class="btn btn-link" style="float:right" data-toggle="modal" data-target="#myModal"><font color="white">Logout</font></button></li>

</div>
            <div *ngIf="!service.flag">
              <li><button class="btn btn-link" (click)="loginPage()"><font color="white">Login</font></button></li>
            </div>
          </li>

        </ul>

        <ul class="nav navbar-nav navbar-left">

            <img src="assets/gas_south_white_logo_vector.png" class="gas_south_img" (click)="masterCalendarPage()">

        </ul>
      </div>
    </nav>

  </div>





  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="color: rgb(151, 3, 3); font-size: 18pt">Are you sure you want to logout?</h4>
        </div>
        <div class="modal-body">
          <br>

          <div class="second">
            <div class="col-md-12 text-center">
              <form>
                <button class="btn btn-danger btn-lg" type="submit" (click)="logout()" data-dismiss="modal">
                  Yes
                </button>
                <button class="btn btn-primary btn-lg" data-dismiss="modal" type="submit">Cancel </button>
              </form>
            </div>
          </div>
        </div>


      </div>

    </div>
  </div>
  <br>



  <router-outlet></router-outlet>
