<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>



  <div class="col text-center">
      <div *ngIf = "this.show_expiration_flag">
          <br>
          <h3 class="text-center" style="color: red">Your session has expired. Log back in to continue...</h3>
    </div>
    <br>
    <br>
    <h3>Create User Account</h3>
    <br>
    <br>
    <div *ngIf = "!this.show_expiration_flag">

    <div class="container">

        <div class="col-md-8 col-md-offset-2">
<div class="jumbotron text-center">

        <form>
          <div class="form-group">

            <input placeholder = "first name" style="text-align:center;" type="text" class="form-control" [(ngModel)]="user._firstName" name="firstName"  required>
            <br>
            <input placeholder = "last name"style="text-align:center;" type="text" class="form-control" [(ngModel)]="user._lastName" name="lastName"  required>
            <br>
            <input placeholder = "email" style="text-align:center;"type="text" class="form-control" [(ngModel)]="user._email" name="email"  required>
            <br>
            <input placeholder = "set user password" style="text-align:center;" type="password" class="form-control" [(ngModel)]="user._password" name="password"  required>
          <h5>Role</h5>
         <select placeholder = "Role" class="form-control" [(ngModel)]="user._role"  name="role"  required>
           <option *ngFor="let role of roles" value="{{role}}">{{role}}</option>
          </select>

          </div>

          <button type="submit" class="btn btn-success" (click)="onSubmit()">Create Account</button>
    
        </form>
              </div>

      </div>
 </div>
</div>
</div>

</body>
</html>
