<!DOCTYPE html>

<html lang="en">



<head>


  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>


  <button class="btn btn-default btn-md btn-block" type="button" data-toggle="collapse" [attr.data-target]=idFromIndex()
    aria-expanded="false" aria-controls="footwear" style="color: rgb(255, 255, 255); font-size: 15pt;">

    {{service.all_projects[index]._project_Title}} <p style="font-size: 12pt"> Last updated:
      {{service.all_projects[index]._last_Updated}}</p>

  </button>

  <br>

  <div class="collapse" id="{{index}}">

    <div class="card" style="width: 60vw; color: grey">

      <ul class="list-group list-group-flush">

        <div class="col text-left">

          <div class="list-group-item" style="color: rgb(117, 115, 115)">

            <div >

             Project Start Date: {{service.all_projects[index]._project_Start_Date}}
              <br>
              Go Live: {{service.all_projects[index]._go_live_date}}
              <br>
              Project Manager ID: {{service.all_projects[index]._project_Manager_ID}}
              <br>
              Project Manager: {{service.all_projects[index]._project_Manager}}
              <br>
              Project Status: {{service.all_projects[index]._project_Status}}
              <br>
              Color: {{service.all_projects[index]._groject_RYG_Color}}
              <br>
          




            </div>

          </div>

        </div>

      </ul>

    </div>

  </div>












  <!-- 
  <button class="btn btn-default btn-md btn-block" type="button" data-toggle="collapse" [attr.data-target]="'#' + index "
    aria-expanded="false" aria-controls="footwear" style="color: rgb(255, 255, 255); font-size: 15pt;">

    Project {{index + 1}}
    <button type="button" class="btn btn-danger btn-md" style="color: white; float : right">Edit</button>

  </button>

  <br>

  <div class="collapse" id={{index}}>

    <div class="card" style="width: 60vw; color: grey">

      <ul class="list-group list-group-flush">

        <li class="list-group-item">Release 1 Start 08/24/19 - 08/29/19</li>

        <li class="list-group-item">Release 2 Start 09/28/19 - 10/19/19</li>

        <div class="col text-left">

          <div class="list-group-item" style="color: rgb(117, 115, 115)">

            <button type="button" class="btn btn-danger btn-sm" style="color: white; float : right" (click)="sendToService()">Save</button>


            <h3 class="col text-center">Team members: </h3>

            <button class="add" (click)="project.team.addMember()">Add Team Member</button>

            <div *ngFor="let member of project.team.members">
                <p> 
                    <select name="memberName" id="memberName" [(ngModel)]="member.name">
                      <option *ngFor="let user of service.users" value="user.id">{{user.name}}</option>
                    </select>
                    <select name="memberRole" id="memberRole" [(ngModel)]="member.projectRole">
                        <option *ngFor="let role of service.projectRoles" value="role.id">{{role.name}}</option>
                    </select>
                </p>
            </div>

            <br>



          </div>

        </div>

      </ul>

    </div>

  </div>
-->
</body>

</html>