<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>



  <div class="col text-center">
    <div *ngIf="this.show_expiration_flag">

      <h3 class="text-center" style="color: red">Your session has expired. Log back in to continue...</h3>
    </div>
    <br>
    <br>

    <h1>Release Management Application</h1>
    <h3>Password Reset Page</h3>
    <br>

    <div *ngIf="!this.show_expiration_flag">

      <div class="container">

        <div class="col-md-8 col-md-offset-2">
          <div class="jumbotron text-center">

            <form #heroForm="ngForm">
              <div class="form-group">

                <br>
                <br>
                <p style="font-weight: bold; color: white">Email<p><input placeholder="Email" style="text-align:center;"
                      type="text" class="form-control" name="email" required>
                    <p>{{this.user_email}}</p>

                    <p style="font-weight: bold; color: white">Innotas ID</p><input placeholder="Innotas ID" style="text-align:center;"
                      type="text" class="form-control" name="in_id" required>
                    <br>
                    <p style="font-weight: bold; color: white">Set User Password</p><input placeholder="Set User Password"
                      style="text-align:center;" type="password" class="form-control" name="password" required>
                    <br>


              </div>
              <button type="submit" class="btn btn-success" (click)="onSubmit()" data-toggle="modal" [disabled]="!heroForm.form.valid"
                data-target="#myModal1">Create Account</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>



  <!-- Modal -->
  <div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-md-12 text-center">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="color: rgb(233, 126, 4); font-size: 18pt">User was created successfully!</h4>
          </div>
          <div class="modal-body">
            <br>
            <br>
            <br>
            <div class="second">
              <div class="col-md-12 text-center">
                <form>
                  <button class="btn btn-success btn-lg" data-dismiss="modal" type="submit" (click)="reset()">Close
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="clear"></div>

  <div class="footer">
    <p>Gas South © 2019</p>
  </div>
</body>

</html>