.app-calendar {
    margin: 0 auto;
    max-width: 1250px;
  }

  h1 {
    font-weight: bold;
    margin-top: 0;
    font-size: 25pt;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 10px;
    background: linear-gradient(to right, #FDB713 35%, #E95524 49%, #D61A69 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
  }


  .jumbrotron{

    padding-bottom: 0;
    padding-top: 0;
    width: 100%

}

.container{

  padding-left: 0;
  padding-right: 0;


}
.navbar{

    color: white
}

.nav-rectangle{

border: solid, white
}

.page-header{

    left: 1px;
    top: 1px;
    
}



.gas_south_img{

    max-width:180px;
    max-height:90px;
    width: auto;
    height: auto;

}
.navbar-default {
  background-color: white; 
}

.welcome{


    display: flex;
    align-items: center;
}

li:hover {
    /*
   background-color: rgb(218, 89, 3);
   */
  }

.container{

   background-color: white;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
   Helvetica, Arial, "Lucida Grande", sans-serif;

}

.jumbotron{

    background-image: linear-gradient(white, rgb(233, 230, 230));
    box-shadow: 0 2px 16px -6px black;
    width: 100%;
    padding-top: 0;
    padding-bottom: 20px;
    margin-bottom:0;

}


.btn-link{

    font-size: 13pt;
}

.btn-link:hover {

     /* removes underline in boostraps btn-link buttn */

      background-color: transparent;
      text-decoration: none;

    }

    .text-center{

        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
        Helvetica, Arial, "Lucida Grande", sans-serif, bold;
    }

    .footer {
      position: static;
      bottom: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 100%;
      margin-top: 100px;
      background: linear-gradient(to right, #FDB713 0%, #E95524 50%, #D61A69 100%);
      color: white;
      text-align: center;
      margin-left: auto;
    }

    input[type="radio"] {
        -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
        -moz-appearance: checkbox;    /* Firefox */
        -ms-appearance: checkbox;     /* not currently supported */
      }

    .btn.btn-primary.btn-sm {
      background: #D61A69;
      border-color: #D61A69;
    }

      .btn.btn-primary.btn-sm:hover {
        background: #212529;
        border-color: #212529;
      }
